*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.background{
    height: 100vh;
    background-image: url('15.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    position: fixed;
    /* top: 0%; */
    width: 100%;
    height: 100%;
    z-index: -1;
}

.heading{
    position: absolute;
    top: 20px;
    left: 20px;
    font-family: "Miltonian", serif;
    font-size: 50px;  
    color: rgb(29, 30, 31);
    background-color:rgba(245, 245, 245, 0.556); 
}

button{
    background-color: rgba(245, 245, 245, 0.321);
    border: 1px solid black;
}

.Reykjavik{
    position: absolute;
    top: 180px;
    left: 300px;
    text-decoration: none;
}

.p_Reykjavik{
    text-align: left;
    width: 800px;
    margin: 10px;
    margin-top: 35px;
    color: black;
}

.Tokyo{
    position: absolute;
    top: 400px;
    left: 300px;
    text-decoration: none;
}

.p_Tokyo{
    text-align: left;
    width: 800px;
    margin: 10px;
    margin-top: 50px;
    color: black;
}

.St_Petersburg{
    position: absolute;
    top: 620px;
    left: 300px;
    text-decoration: none;
    padding-bottom: 120px;
}

.p_St_Petersburg{
    text-align: left;
    width: 800px;
    margin: 10px;
    margin-top: 60px;
    color: black;
}